section#revs
	.container
		+gt('', 'Отзывы наших клиентов')
		.row
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="9Sf1dQ3uRcI" data-img=path+"img/revs/rev-1.jpg")
					+imgs('', 'img/revs/rev-1.jpg', 'Видео-отзыв 1')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="B7Cdey9Ad-0" data-img=path+"img/revs/rev-2.jpg")
					+imgs('', 'img/revs/rev-2.jpg', 'Видео-отзыв 2')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="U17vAnmWJas" data-img=path+"img/revs/rev-3.jpg")
					+imgs('', 'img/revs/rev-3.jpg', 'Видео-отзыв 3')
					.yt-button
		.row
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="l6pbafu-3qU" data-img=path+"img/revs/rev-4.jpg")
					+imgs('', 'img/revs/rev-4.jpg', 'Видео-отзыв 4')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="iI6EpwITxi0" data-img=path+"img/revs/rev-5.jpg")
					+imgs('', 'img/revs/rev-5.jpg', 'Видео-отзыв 5')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="Ekbf9KwMwco" data-img=path+"img/revs/rev-6.jpg")
					+imgs('', 'img/revs/rev-6.jpg', 'Видео-отзыв 6')
					.yt-button
		.row
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="i5VSwqAe-CE" data-img=path+"img/revs/rev-7.jpg")
					+imgs('', 'img/revs/rev-7.jpg', 'Видео-отзыв 7')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="ojBuGm6E0bw" data-img=path+"img/revs/rev-8.jpg")
					+imgs('', 'img/revs/rev-8.jpg', 'Видео-отзыв 8')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="U07_A3B5Jtw" data-img=path+"img/revs/rev-9.jpg")
					+imgs('', 'img/revs/rev-9.jpg', 'Видео-отзыв 9')
					.yt-button
		.row
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="gu2aWZrhdjQ" data-img=path+"img/revs/rev-10.jpg")
					+imgs('', 'img/revs/rev-10.jpg', 'Видео-отзыв 10')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="OHtQZ11Ukh8" data-img=path+"img/revs/rev-11.jpg")
					+imgs('', 'img/revs/rev-11.jpg', 'Видео-отзыв 11')
					.yt-button
			.col-md-4
				.video-wrapper.video-wrapper-rev(data-youtube="1ytWhB_NPjc" data-img=path+"img/revs/rev-12.jpg")
					+imgs('', 'img/revs/rev-12.jpg', 'Видео-отзыв 12')
					.yt-button